body{
  background-image: url(./img/white_wall.jpg);
  background-size: auto;
  margin: 0 0 8px;
}

/* フォント */
p, .theme2, label,
nav a{
  font-family: 'Kosugi Maru', sans-serif;
}

/* ヘッダー */
header{
  height: 110px;
  width: -webkit-fill-available;
  background-image: url(./img/blue.jpg);
  background-size: cover;
}

p{
  margin-top: 15px;
  font-size: 20px;
  background-color: beige;
  display: inline-block;
  border: rgb(4 22 57) 1px solid;
  border-radius: 0 13px 13px 0;
  padding: 3px;
}

nav a{
  color: #fff;
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
}


/* 見出し系 */
h1{
  font-family: 'New Tegomin', serif;
  font-size: 55px;
  margin: 20px auto;
  text-align: center;
}

.theme2{
  text-align: center;
}

.theme2 a{
  font-size: 20px;
}

.cmt{
  text-align: center;
}


/* form */
fieldset{
  height: fit-content;
  text-align: center;
  border: #ada8a5 solid 2px;
  border-radius: 5px;
  width: 40%;
  margin-bottom: 70px;
  /* background-image: url(./img/mokume.jpg);  */
  /* background-color: #f6f7f4; */
  background: linear-gradient(#fbfcfc, #d6e6ee); 
}

label{
  display: block;
  text-align: center;
  padding: 25px;
  margin: auto 30px;
  border-top: solid 2px #ada8a5
}

label:first-child{
  border-top: none;
}

.id{
  width: 50px;
}

form{
  display: flex;
  justify-content: center;
}


/* 一覧表 */
table{
  width: 45%;
  margin: 0 auto 70px;
  background-color: #f6f7f4;
}

table th, table td{
  padding: 5px;

}

/* inputボタン */
input[type="submit"],input[type="reset"] {
	cursor:pointer;
	font-size:120%;
	font-weight:bold;
	padding:4px 10px;
	margin-right:10px;
	color:#fff;
  border:1px solid #bbb;
  background:#589bef;
	border-radius: 5px;
}

input[type="submit"]:hover,input[type="reset"]:hover{
    background-color: #217ef0;
}

/* スピンボタン消す */
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 
